html
  head
    include head_links
    title Loom Cases
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8
            a.btn.btn-primary(href='')
              i.fa.fa-plus.fa-lg
              | Folder
            h3 Saved cases
            .panel.panel-default
              .panel-heading
                h4.panel-title Tercon RFEI
              .panel-body
                #results(style='margin-top: 0px;')
                  .result-title
                    a(href='')
                      | Conwest Exploration Co. Ltd. et al. v.
                      | Letain, 1963, Supreme Court of Canada
                  .result-answer
                    | The optionor owned mining claims and the
                    | optionor had to take certain steps including
                    | incorporation by a given date in order to
                    | exercise the options. Before the date, the
                    | optionor (the defendant) implied that the date
                    | could be extended. Upon this gratuitous
                    | promise (as it was offered without
                    | consideration), the optionee continued to take
                    | the steps towards incorporation. Afterward,
                    | the optionor attempted to revert to the strict
                    | date provided in the contract. The optionee
                    | applied for relief on the grounds of
                    | equitability.
                    | The court found that that it would inequitable
                    | to revert to the strict interpretation of the
                    | contract and therefore estopped the optionor
                    | from enforcing the date.
                  .result
                    .result-title
                      a(href='')
                        | Landmark II Inc v 1535709 Ontario Limited
                    .result-answer
                      | The trial judge found that 1535709 had breached
                      | the contract by failing to pay and that Landmark
                      | was not obligated to continue its work without
                      | payment. The trial judge found that Landmark's
                      | work as of the date of abandonment was valued at
                      | $16,000 and, after deducting the amount of the
                      | first payment, she determined that 1535709 owed
                      | Landmark $1,287.50. 1535709's counterclaim was
                      | dismissed. On appeal, the Divisional Court upheld
                      | the trial judge's decision in brief written
  include scripts
