html
  head
    include head_links
    title Loom Cases
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8
            .panel.panel-default
              .panel-heading
                a(href='#' class='acl' id='acl0' rel='clickover')
                  i.fa.fa-users.fa-lg
                h4.panel-title Tercon RFEI
              .panel-body
                div#accordion.panel-group
                  div#panel1.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapseOne', class='saved-q')
                          | What was the result of Landmark vs Ontario?
                    div#collapseOne.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='')
                            | Landmark II Inc v 1535709 Ontario Limited
                        .result-answer
                          | The trial judge found that 1535709 had breached
                          | the contract by failing to pay and that Landmark
                          | was not obligated to continue its work without
                          | payment. The trial judge found that Landmark's
                          | work as of the date of abandonment was valued at
                          | $16,000 and, after deducting the amount of the
                          | first payment, she determined that 1535709 owed
                          | Landmark $1,287.50. 1535709's counterclaim was
                        .result
                          .result-title
                            a(href='')
                              | Landmark II Inc v 1535709 Ontario Limited
                          .result-answer
                            | The trial judge found that 1535709 had breached
                            | the contract by failing to pay and that Landmark
                            | was not obligated to continue its work without
                            | payment. The trial judge found that Landmark's
                            | work as of the date of abandonment was valued at
                            | $16,000 and, after deducting the amount of the
                            | first payment, she determined that 1535709 owed
                            | Landmark $1,287.50. 1535709's counterclaim was
                            | dismissed. On appeal, the Divisional Court upheld
                  div#panel2.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapse2', class='saved-q')
                          | Why did the judge decide that the contract was breached?
                    div#collapse2.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='')
                            | Landmark II Inc v 1535709 Ontario Limited
                        .result-answer
                          | The trial judge found that 1535709 had breached
                          | the contract by failing to pay and that Landmark
                          | was not obligated to continue its work without
                          | payment. The trial judge found that Landmark's
                          | work as of the date of abandonment was valued at
                          | $16,000 and, after deducting the amount of the
                          | first payment, she determined that 1535709 owed
                          | Landmark $1,287.50. 1535709's counterclaim was
                        .result
                          .result-title
                            a(href='')
                              | Landmark II Inc v 1535709 Ontario Limited
                          .result-answer
                            | The trial judge found that 1535709 had breached
                            | the contract by failing to pay and that Landmark
                            | was not obligated to continue its work without
                            | payment. The trial judge found that Landmark's
                            | work as of the date of abandonment was valued at
                            | $16,000 and, after deducting the amount of the
                            | first payment, she determined that 1535709 owed
          .col-lg-1
            a#new-folder.btn.btn-primary(href='')
              i.fa.fa-plus.fa-lg
              | &nbsp;&nbsp;Folder
          .col-lg-1
  include scripts
  script(src='js/bootstrapx-clickover.js')
  script(src='js/add_collaborator.js')
