html
  head
    include head_links
    title Loom Cases
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-7
            #path
          .col-lg-1
            a(href="#",rel="clickover")#new-folder
              i.fa.fa-plus.fa-lg
        #saved-cases
  include scripts
  script(src='js/bootstrapx-clickover.js')
  script(src='js/fwords.js')
  script(src='js/show_answer.js')
  script(src='js/show_cases.js')
  script(src='js/add_collaborator.js')
