html
  head
    include head_links
    title Loom Cases
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container#saved-cases
        .row
          .col-lg-1
          .col-lg-1.new-folder
            a#new-folder.btn.btn-primary(href='')
              i.fa.fa-plus.fa-lg
              | &nbsp;&nbsp;Folder
          .col-lg-8
            .panel.panel-default
              .panel-heading
                a(href='#' class='acl' id='acl0' rel='clickover')
                  i.fa.fa-users.fa-lg
                h4.panel-title Tercon
              .panel-body
                div#accordion.panel-group
                  div#panel1.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapseOne', class='saved-q')
                          | What were the compliancy issues with Brentwood's bid in 2006?
                    div#collapseOne.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='https://www.canlii.org/en/ca/scc/doc/2010/2010scc4/2010scc4.html' target="_blank")
                            | CanLII - 2010 SCC 4 (CanLII) : Tercon Contractors Ltd. v. British Columbia (Transportation and Highways), [2010] 1 SCR 69, 2010 SCC 4 (CanLII) : Decisions cited
                        .result-answer
                          | Analysis. A. Was the Brentwood Bid Ineligible? [14] The first issue is whether the Brentwood bid was from an eligible bidder. The judge found that the bid was in substance, although not in form, from a joint venture of Brentwood and EAC and that it was, therefore, an ineligible bid. The Province attacks this finding on three grounds: (i) a joint venture is not a legal person and therefore the Province could not and did not contract with a joint venture; (ii) it did not award the contract to EAC and EAC had no contractual responsibility to the Province for failure to perform the contract; (iii) there was no term of the RFP that restricted the right of proponents to enter into joint venture agreements with others; this arrangement merely left Brentwood, the original proponent, in place and allowed it to
                  div#panel2.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapse2', class='saved-q')
                          | Why did the judge decide that the Tercon contract was breached?
                    div#collapse2.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='https://www.canlii.org/en/ca/scc/doc/2010/2010scc4/2010scc4.html' target='_blank')
                            | CanLII - 2010 SCC 4 (CanLII) : Tercon Contractors Ltd. v. British Columbia (Transportation and Highways), [2010] 1 SCR 69, 2010 SCC 4 (CanLII) : Decisions cited
                        .result-answer
                          | In my view, it is the Province's position that better deserves that description. It had a bid which it knew to be on behalf of a joint venture, encouraged the bid to proceed and took steps to obfuscate the reality that it was on behalf of a joint venture. Permitting the bid to proceed in this way gave the joint venture a competitive advantage in the bidding process, and the record could not be clearer that the joint venture nature of the bid was one of its attractions during the selection process. The Province nonetheless submits that so long as only the name of Brentwood appears on the bid and ultimate Contract B, all is well.
        .row
          .col-lg-1
          .col-lg-1.new-folder
          .col-lg-8
            .panel.panel-default
              .panel-heading
                a(href='#' class='acl' id='acl0' rel='clickover')
                  i.fa.fa-users.fa-lg
                h4.panel-title Landmark vs 1535709 Ontario
              .panel-body
                div#accordion.panel-group
                  div#panel2.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapseFour', class='saved-q')
                          | Why did the judge decide that 1535709 breached its contract with Landmark?
                    div#collapseFour.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='http://www.canlii.org/en/on/onca/doc/2011/2011onca567/2011onca567.html' target='blank')
                            | Landmark II Inc. v. 1535709 Ontario Limited, 2011 ONCA 567 (CanLII): Introduction
                        .result-answer
                          | The trial judge found that 1535709 had breached
                          | the contract by failing to pay and that Landmark
                          | was not obligated to continue its work without
                          | payment. The trial judge found that Landmark's
                          | work as of the date of abandonment was valued at
                          | $16,000 and, after deducting the amount of the
                          | first payment, she determined that 1535709 owed
                          | Landmark $1,287.50. 1535709's counterclaim was
                        .result
                          .result-title
                            a(href='http://www.canlii.org/en/on/onca/doc/2011/2011onca567/2011onca567.html' target='blank')
                              | Landmark II Inc. v. 1535709 Ontario Limited,
                              2011 ONCA 567 (CanLII): Analysis
                          .result-answer
                            | In this case, the Court found that Landmark had not indicated it was pursuing alternative remedies with the intention of making an election. Further, there was no obligation on the trial judge to provide an election. If Landmark was seeking damages for breach of contract as an alternative to its claim for quantum meruit, it was required to so elect. Without the election, Landmark was not entitled to damages for the breach of contract as an alternative to the trial judge's assessment of damages under the claim for quantum meruit.
                  div#panel1.panel.panel-default
                    div.panel-heading
                      h4.panel-title
                        a(data-toggle='collapse',
                          data-target='#collapseThree', class='saved-q')
                          | What was the result of Landmark vs 1535709 Ontario?
                    div#collapseThree.panel-collapse.collapse
                      div.panel-body
                        .result-title
                          a(href='')
                            | Landmark II Inc v 1535709 Ontario Limited
                        .result-answer
                          | The trial judge found that 1535709 had breached
                          | the contract by failing to pay and that Landmark
                          | was not obligated to continue its work without
                          | payment. The trial judge found that Landmark's
                          | work as of the date of abandonment was valued at
                          | $16,000 and, after deducting the amount of the
                          | first payment, she determined that 1535709 owed
                          | Landmark $1,287.50. 1535709's counterclaim was
  include scripts
  script(src='js/bootstrapx-clickover.js')
  script(src='js/show_cases.js')
  script(src='js/add_collaborator.js')
