footer.footer-2.bg-midnight-blue
  .container
    nav.pull-left
      ul
        li.active
          a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#')  
