html
  head
    include head_links
    title History | Loom
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        #results
  include scripts
  script(src='js/get_history.js')
 