html
  head
    include head_links
    title Loom History
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-10
            #results
  include scripts
  script(src='js/get_history.js')
 
