html
  head
    include head_links
    title Login | Loom
body
  .page-wrapper
    include toplogo
    section.header-11-sub
      .container
        .row
          .col-lg-4
          .col-lg-4
            form(action='/login', method='post')
              .input-group#login
                .form-group
                    | Username
                    input.form-control.loom-login(
                      type='text', name='username', autofocus,
                      autocomplete='off')
                .form-group
                    | Password
                    input.form-control.loom-login(
                      type='password', name='password')
                button.btn.btn-default.btn-block#login_btn(
                  type='submit')
                  | Log in
  include scripts
