html
  head
    include head_links
    title Loom
body
  .page-wrapper
    // header-11
    header.header-11
      .container
        .row
          .navbar.col-sm-12(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button')
              a.brand(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#')
                img(src='./index_files/logo@2x.png', width='50', height='50', alt='')
                | OmniCase
            .collapse.navbar-collapse.pull-right
              ul.nav.pull-left
                li
                  a(href='')
                    | TORYS LLP
                li
                  a(href='')
                    | YANA DAVIS
                li
                  a(href='')
                    | SAVED CASES
                li
                  a(href='')
                    i.fa.fa-sign-out.fa-lg
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8
            h3 Generate report about:
            form.form-income(role='form')
              .form-group
                .input-group
                  span.input-group-addon Case
                  input.form-control(type='text', placeholder='Dred Scott v. Sandford')
                .input-group
                  span.input-group-addon Judge
                  input.form-control(type='text', placeholder='Jane Smith')
                .input-group
                  span.input-group-addon Topic
                  input.form-control(type='text', placeholder='Supplier breach of contract')
                button.btn.btn-block.btn-info(type='submit')
                  | Go
              // form
            #results
              .result
                .result-title
                  h4
                    | What cases are similar to Dred Scott vs.
                    | Sandford?
                .result-answer
                  ul
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Roe Agripur Canada vs Walder
                      span.res_link
                        | (
                        a(href='')
                          | Roe
                          | Agripur Canada
                          | v. Walder (No. 70-18)
                        | )
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Arizona v. Roley Inc.
                      span.res_link
                        | (
                        a(href='')
                          | Arizona
                          | v. Roley Inc. 2004 SPCC
                        | )
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Brenner Ltd. v. Smoot Ltd.
                      span.res_link
                        | (
                        a(href='')
                          | Brenner
                          | Ltd.
                          | v. Smoot Ltd. 2004 SPCC
                        | )
              .result
                .result-title
                  h4
                    | How has Judge Smith ruled on supplier breach
                    | of contract cases in the past?
                .result-answer
                  ul
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Throughout the trial and in various
                      | submissions to the Court, Defendants
                      | vigorously argue that the reading of the
                      | statement is not 'teaching' ID but instead
                      | is merely 'making students aware of it.' In
                      | fact, one consistency among the Dover School
                      | Board members' testimony, which was marked
                      | by selective memories and outright lies
                      | under oath, as will be discussed in more
                      | detail below, is that they did not think
                      | they needed to be knowledgeable about ID
                      | because it was not being taught to the
                      | students.
                      span.res_link
                        | (
                        a(href='')
                          | Anglia Television vs. Reed
                        | )
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Arizona vs Roley
                    span.result-thumb-tack
                      a(href='')
                        i.fa.fa-thumb-tack
                    li
                      | Brenner vs Smoot
            // /results
  