.page-wrapper
  // header-11
  header.header-11
    .container
      .row
        .navbar.col-sm-12(role='navigation')
          .navbar-header
            button.navbar-toggle(type='button')
            a.brand(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#')
              img(src='./index_files/logo@2x.png', width='50', height='50', alt='')
              | OmniCase
          .collapse.navbar-collapse.pull-right
            ul.nav.pull-left
              li
                a(href='')
                  | TORYS LLP
              li
                a(href='')
                  | YANA DAVIS
              li
                a(href='', style='color: #16a085;')
                  | SAVED CASES
              li
                a(href='')
                  i.fa.fa-sign-out.fa-lg
  section.header-11-sub
    .container
      .row
        .col-lg-2
        .col-lg-8
          form(style='float: right;')
            a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#')
              i.fa.fa-plus.fa-lg
              | Case Folder
          h3 Saved cases
          .panel.panel-default
            .panel-heading
              h4.panel-title Tercon RFEI Case Folder
            .panel-body
              #results(style='margin-top: 0px;')
                .result-title
                  a(href='')
                    | Conwest Exploration Co. Ltd. et al. v.
                    | Letain, 1963, Supreme Court of Canada
                .result-answer
                  | The optionor owned mining claims and the
                  | optionor had to take certain steps including
                  | incorporation by a given date in order to
                  | exercise the options. Before the date, the
                  | optionor (the defendant) implied that the date
                  | could be extended. Upon this gratuitous
                  | promise (as it was offered without
                  | consideration), the optionee continued to take
                  | the steps towards incorporation. Afterward,
                  | the optionor attempted to revert to the strict
                  | date provided in the contract. The optionee
                  | applied for relief on the grounds of
                  | equitability.
                  | The court found that that it would inequitable
                  | to revert to the strict interpretation of the
                  | contract and therefore estopped the optionor
                  | from enforcing the date.
                .result
                  .result-title
                    a(href='')
                      | Landmark II Inc v 1535709 Ontario Limited
                  .result-answer
                    | The trial judge found that 1535709 had breached
                    | the contract by failing to pay and that Landmark
                    | was not obligated to continue its work without
                    | payment. The trial judge found that Landmark's
                    | work as of the date of abandonment was valued at
                    | $16,000 and, after deducting the amount of the
                    | first payment, she determined that 1535709 owed
                    | Landmark $1,287.50. 1535709's counterclaim was
                    | dismissed. On appeal, the Divisional Court upheld
                    | the trial judge's decision in brief written
                    | reasons.
        // /col
      // /row
  // footer-2
  footer.footer-2.bg-midnight-blue
    .container
      nav.pull-left
        ul
          li.active
            a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#')  
// Placed at the end of the document so the pages load faster
script(src='./index_files/jquery-1.10.2.min.js')
script(src='./index_files/bootstrap.min.js')
script(src='./index_files/modernizr.custom.js')
script(src='./index_files/startup-kit.js')
script(src='./index_files/script.js')
#header-11.collapse.navbar-collapse.pull-right(style='z-index: 1;')
  ul.nav.pull-left
    li.active
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') HOME
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') COMPANY
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PORTFOLIO
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') BLOG
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') CONTACT
  form.navbar-form.pull-left
    a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') SIGN IN
#header-11.collapse.navbar-collapse.pull-right(style='z-index: 1;')
  ul.nav.pull-left
    li.active
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') HOME
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') COMPANY
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PORTFOLIO
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') BLOG
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') CONTACT
  form.navbar-form.pull-left
    a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') SIGN IN
#header-11.collapse.navbar-collapse.pull-right(style='z-index: 1;')
  ul.nav.pull-left
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRODUCT
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRICING
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') FAQ
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') CONTACT
  form.navbar-form.pull-left
    a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') SIGN IN
#header-11.collapse.navbar-collapse.pull-right(style='z-index: 1;')
  ul.nav.pull-left
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRODUCT
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRICING
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') FAQ
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') CONTACT
  form.navbar-form.pull-left
    a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') SIGN IN
#header-11.collapse.navbar-collapse.pull-right(style='z-index: 1;')
  ul.nav.pull-left
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRODUCT
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') PRICING
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') FAQ
    li
      a(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') CONTACT
  form.navbar-form.pull-left
    a.btn.btn-primary(href='file:///Users/Leila/Downloads/startup-demo-master/Developer/samples/sample-03/index.html#') SIGN IN

