// deprecated, search results are generated on client by question_socket.js
.result
  span.result-thumb-tack
    a(href='')
      i.fa.fa-thumb-tack.fa-lg
  .result-title
    a(href='')
      | Title of Result Document
  .result-answer
    | This is the answer that Watson gives
