html
  head
    include head_links
    title Loom Search
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8#current-case
            | Current Case:
            select(name='current-case')
              option(value='na')
                | --
              optgroup(label='')
              optgroup(label='Recent')
                option(value='Players vs CHL', selected="selected")
                  | Players vs CHL
                option(value='Tercon')
                  | Tercon
              optgroup(label='')
              optgroup(label='All')
                option(value='Alfred vs Manning')
                  | Alfred vs Manning
                option(value='Ontario vs Landscaping Ltd')
                  | Ontario vs Landscaping Ltd
            span.case-options
              a(href='/case')
                | Add new case
            span.case-options
              a(href='/case/playersvschl')
                | See case facts
        .row
          .col-lg-2
          .col-lg-8#searchbar
            form
              .input-group
                input.form-control(type='text', id='question',
                  placeholder='What do you need to know?', autofocus,
                  autocomplete='off')
                span.input-group-btn
                  button#search_btn.btn.btn-default(
                    onclick='search(); return false;',
                    type='submit')
                    | Ask
            #spinner
        #results
  include scripts
  script(src='js/bootstrapx-clickover.js')
  script(src='js/store.min.js')
  script(src='js/spin.js')
  script(src='js/fwords.js')
  script(src='js/show_answer.js')
  script(src='js/predict.js')
  script(src='js/question_socket.js')
  script(src='js/search_state.js')
  script(src='js/save_case.js')
  script(src='js/select_text.js')
