html
  head
    include head_links
    title Lume Search
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8
            .input-group
              input.form-control(type='text', name='question',
                placeholder='What do you need to know?')
              span.input-group-btn
                button.btn.btn-default(onclick='search()')
                  | Search
            #results
              include search_result
              include search_result
  include scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/question_socket.js')
