html
  head
    include head_links
    title Libra Search
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-2
          .col-lg-8
            form(action='/ask', method='post', name='question')
              .input-group
                input.form-control(type='text',
                  placeholder='What do you need to know?')
                span.input-group-btn
                  button.btn.btn-default(type='submit')
                    | Search
            #results
              include search_result
              include search_result
  include scripts
