html
  head
    include head_links
    title Loom Search
body
  .page-wrapper
    include topnav
    section.header-11-sub
      .container
        .row
          .col-lg-6
            .spinner
        .row
          .col-lg-2
          .col-lg-8
            form
              .input-group
                input.form-control(type='text', id='question',
                  placeholder='What do you need to know?' autofocus)
                span.input-group-btn
                  button#search.btn.btn-default(
                    onclick='search(); return false;',
                    type='submit')
                    | Search
            #spinner
            #results
  include scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/spin.js')
  script(src='js/search_state.js')
  script(src='js/question_socket.js')
