header.header-11
  .container
    .row
      .navbar.col-sm-12(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button')
          a.brand(href='/')
            img(src='img/loomlogo.png', width='50', height='50', alt='')
            | Loom
