header.header-11
  .container
    .row
      .navbar.col-sm-12(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button')
          a.brand(href='/')
            img(src='img/logo@2x.png', width='50', height='50', alt='')
            | Lume
        .collapse.navbar-collapse.pull-right
          ul.nav.pull-left
            li
              a(href='')
                | TORYS LLP
            li
              a(href='')
                | YANA DAVIS
            li
              a(href='')
                | SAVED CASES
            li
              a(href='')
                i.fa.fa-sign-out.fa-lg
